mat-card{
  margin: auto;
  text-align: center;
  margin: auto;
  color: #ADEFD1FF;
  background-color: #00203FFF;
 }


.title{
  margin: auto;
  background-color: #000000;
  color: white;
}

a:visited{
  color: #fff;
}

.back{
  text-align: left;
}